product/priv-app/GoogleCamera/GoogleCamera.apk
product/priv-app/DevicePersonalizationPrebuiltPixel2021-U.40_V.15_playstore_aiai_20241114.01_RC01/DevicePersonalizationPrebuiltPixel2021-U.40_V.15_playstore_aiai_20241114.01_RC01.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/PrebuiltGmsCoreVic/PrebuiltGmsCoreVic.apk
product/priv-app/PrebuiltBugle/PrebuiltBugle.apk
product/app/PrebuiltGmail/PrebuiltGmail.apk
product/app/Maps/Maps.apk
product/app/YouTube/YouTube.apk
product/app/Photos/Photos.apk
vendor/apex/com.google.pixel.camera.hal.apex
