product/priv-app/PrebuiltBugle/PrebuiltBugle.apk
product/priv-app/GoogleCamera/GoogleCamera.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/DevicePersonalizationPrebuiltPixel2021-droidfood_aiai_20241119.00_RC00/DevicePersonalizationPrebuiltPixel2021-droidfood_aiai_20241119.00_RC00.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreVic.apk
product/app/PrebuiltGmail/PrebuiltGmail.apk
product/app/Maps/Maps.apk
product/app/YouTube/YouTube.apk
product/app/Photos/Photos.apk
vendor/apex/com.google.pixel.camera.hal.apex
